@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;

  background:
    radial-gradient(
      circle at top left,
      rgba(59, 130, 246, 0.18),
      transparent 25%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(168, 85, 247, 0.18),
      transparent 25%
    ),
    linear-gradient(
      135deg,
      #f8fafc,
      #eef2ff,
      #f5f3ff
    );

  background-attachment: fixed;
}

/* Date Picker */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}